@font-face {
     font-family: 'Inter Regular';
     font-weight: 400;
     src: url('./../../../assets/fonts/inter/Inter-Regular-slnt=0.ttf') format('truetype');
}
@font-face {
     font-family: 'Inter Bold';
     font-weight: 700;
     src: url('./../../../assets/fonts/inter/Inter-Bold-slnt=0.ttf') format('truetype');
}

$font-small: 14px;

body {
     background: inherit;
     color: $text-primary;
     font-family: 'Inter Regular', sans-serif;
     font-size: $font-small;
     line-height: 1;
}