@font-face {
     font-family: 'Inter Regular';
     font-weight: 400;
     src: url('./../assets/fonts/inter/Inter-Regular-slnt=0.ttf') format('truetype');
}
@font-face {
     font-family: 'Inter Bold';
     font-weight: 700;
     src: url('./../assets/fonts/inter/Inter-Bold-slnt=0.ttf') format('truetype');
}
html {
     font-size: 14px;
}